.vlog_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  color: white;
}
.vlog_layout{
  height: calc(100vh - 126px);;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  overflow-y: auto;
}
.vlog_body{
}
.left_title{
  font-size: 30px;
  font-weight: bold;
}
.copyright {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: black;
}
.vlog_aside{
  width: 150px;
}
.tags_sty{
  margin-right: 15px;
}
:deep(.t-default-menu){
  width: auto!important;
}
.blog_item{
  cursor: pointer;
}
.viewBlog{
  overflow-y: auto;
}
.view_header{
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6b6969;
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .author{
    margin-top: 10px;
    font-size: 16px;
  }
}
.tags_sty{
  margin-right: 15px;
}
.view_body{
  display: flex;
  overflow-y: auto;
}
.right_search{
  display: flex;
}

